 
.about-container {
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
    max-height: 4000px;
}


.carousel {
    margin-bottom: 50px;
}
   
 
.who-we-are {
    margin-bottom: 40px;
    justify-content: center;
    text-align: center;  
}

.read-more-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.read-more-link:hover {
    text-decoration: underline;
}

.two-part-division {
    display: flex;
   
    align-items: center;
    margin-top: 50px;  
}

.left-side-text {
    text-align: center; 
    width: 60%;
    margin-left:50px;
}

.right-side-photo {
    width: 60%; 
    text-align: center;  
}

.painters-section{
    margin-top: 100px;
    margin-left: 70px;
}

.small-image {
    height: 180px;  
    width: 180px;
    border-radius: 50%;
    object-fit: cover;
    padding: 10px;  
    transition: box-shadow 0.3s; 
}

.small-image:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);  
}

.painter-item {
    display: inline-block;
    text-align: center;  
    margin-left: 20px;  
}

.painter-name {
    font-size: 14px;
    margin-top: 5px; 
}

.painters-scroll {
    overflow-x: auto;  
    white-space: nowrap;  
}

.painters-line {
    display: inline-block;
}
  
.scroll-arrow:hover {
    background-color: rgba(0, 0, 0, 0.1);
} 
.painters_text {
    text-align: center; /* Center text horizontally */
    margin-bottom: 50px;
    margin-top: 80px;
}



svg:not(:root).svg-inline--fa, 
svg:not(:host).svg-inline--fa {
    overflow: visible;
    box-sizing: content-box;
    color: rgb(172, 167, 167);  /* This sets the color of the SVG to red */
}
