/* AccountPainter.css */
.account-painter-container {
    padding: 20px;
    font-family: 'Frank Ruhl Libre', sans-serif;
}

.heading {
    text-align: center;
    font-family: 'Frank Ruhl Libre', sans-serif;
    font-size: 24px;
}

.form-container {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.picture-table-container {
    margin-top: 20px;
}

.picture-table {
    width: 100%;
}

.picture-table th {
    text-align: center;
}

.account_img {
    height: 200px;
    width: 200px;
    object-fit: cover;
   
}

 
.picture-table td {
    text-align: center;
}

.delete-button {
    cursor: pointer;
    background-color:#e57373;
}
.delete-button:hover {
    background-color: #f3b7b8;
}

.picture-container {
    display: flex;
    align-items: center;
}

.picture-img {
    width: 1120px;  
    margin-right: 20px;  
    margin-bottom: 30px;
}

.account-painter-section {
    margin-bottom: 70px;  
    background-color:  #d7ecf4;  

    /* background-color: #f0f0f0; */
    padding: 20px;
    border-radius: 10px;
    border: 10px solid #b7deec; 
    /* border: 2px solid #808080; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.account-painter-sectionn {
    border: 10px solid #b7deec;  
    /* border: 2px solid #808080; */
    border-radius: 10px;
    background-color:d #b7deec;  
    padding: 20px; 
    margin-bottom: 100px;  
     
  }
  
  .btn-green {
    width: 70px;
    height: 40px;
    margin-right: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
     
  }
  .btn-green:hover {
    background-color: #45a049;
  }
  
  .btn-clear {
    width: 70px;
    height: 40px;
    margin-right: 10px;
    background-color:  #e57373;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
     
  }
  .btn-clear:hover {
    background-color: #f3b7b8;
  }



.heading {
    font-family: 'Lora', serif;
}

 
 

.heading {
    text-align: center;
    font-family: 'Frank Ruhl Libre', sans-serif;
    font-size: 24px;
    margin-bottom: 20px; /* Add margin bottom to separate from content */
}

.order-table-container {
    margin-top: 20px;
}

.order-table {
    width: 100%;
    border-collapse: collapse; /* Optional: Collapse table borders */
}

.order-table th,
.order-table td {
    padding: 10px; /* Adjust padding as needed */
    text-align: center;
}

.order-table th {
    background-color: d #b7deec;   /* Optional: Add background color for table header */
}

.order-table img {
    width: 100px; /* Set the width of the image */
    height: auto; /* Maintain aspect ratio */
}

/* Optional: Add hover effect to table rows */
.order-table tbody tr:hover {
    background-color: #FFF8E8;
}


@media (min-width: 768px) {
    .container, 
    .container-md, 
    .container-sm {
        padding-top: 30px;
        max-width: 720px;
    }
}
