 
    .detail-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px auto;  
        max-width: 800px; /* Limit the maximum width of the container */
      }
      
      .image-container {
        flex: 1;
        order: 1;
        margin-right: 20px;
        height: 60%;
      }
      
      .info-container {
        flex: 1;
        order: 2;
        text-align: center;
      }
      
      .painting-image {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      
      .add-to-basket-button {
        padding: 12px 24px;
        font-size: 16px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
      }
      
      .add-to-basket-button:hover {
        background-color: #0056b3;
      }
      
      .error {
        color: red;
      }
      
      .loading {
        font-style: italic;
        color: #666;
      }
      


























 