.logo-container {
    text-align: center;
    margin-bottom: 20px; /* Adjust as needed */
}

.logo {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
}

.text {
    font-family: 'Frank Ruhl Libre', sans-serif;
    font-size: 24px; /* Adjust font size as needed */
    margin-bottom: 20px; /* Add spacing between text and menu */
}


.menu {
    font-family: 'Spectral', serif;
    
}

.menu ul li {
    display: inline-block;
    margin-right: 55px; /* Adjust spacing between menu items */
    font-size: 20px;
    font-family: 'Frank Ruhl Libre', serif; 
    margin-top: 0px;
}

.menu ul li:last-child {
    margin-right: 10px; /* Remove margin-right from the last menu item */
}


.full-screen-photo img {
    width: 100%;
    height: 60vh; /* Adjust to 65% of viewport height */
    object-fit: cover;
}

 
.who-we-are {
    text-align: center; /* Center text horizontally */
    margin-bottom: 50px;
    margin-top: 80px;
}

.two-part-division {
    display: flex;
   
    align-items: center;
    margin-top: 50px; /* Adjust as needed */
}

.left-side-text {
    text-align: center; 
    width: 60%;
    margin-left:50px;
}

.right-side-photo {
    width: 60%; 
    text-align: center; /* Center photo horizontally */
}
/* Home.css */
/* Home.css */

.home-container {
    padding: 20px;
  }
  
  .paint-cards-container {
    margin-top: 70px;
  }
  
  .paint-cards-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .paint-card {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(33.33% - 10px); /* Adjust width based on number of cards per row */
    transition: all 0.3s ease; /* Add transition for smooth effect */
  }
  
  .paint-card:hover {
    transform: scale(1.05); /* Zoom effect on hover */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Add shadow on hover */
  }
  
  .paint-image-container {
    height: 200px; /* Set the desired height of the card */
    overflow: hidden;
  }
  
  .paint-image {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensure the image fills the container */
  }
  
  .paint-details {
    padding: 10px;
  }
  
  .more-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    text-decoration: none;
    color: blue;
  }
  